<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moringaschool.yummlyapi">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Spoonacular API"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.RecipeActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.yummlyapi.ui.MainActivity">
            </meta-data>
        </activity>
        <activity
            android:name=".ui.SignInActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.yummlyapi.ui.SignupActivity">
            </meta-data>
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:exported="false">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.moringaschool.yummlyapi.ui.MainActivity">
        </meta-data>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>